/* You can add global styles to this file, and also import other style files */
.bg-img
{
  background-image: url('/assets/background1.png');
  background-position: center;
  background-repeat: repeat;
}
